<mat-card>
  <div class="container">
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
    style="height: 400px; overflow-y: scroll;">
      <div *ngFor="let item of myPhotosList" class="col-md-4" style="margin-top: 10px;">
        <!-- <img style="height: 220px;width: 315px;" src="{{item.url}}" /> -->
        <div style="height: 220px;width: 315px;">{{item.url}}</div>
      </div>
    </div>
  </div>
</mat-card>